{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block title %}
  Bienvenido!
{% endblock %}

{% block body %}
  <section class="home__container">
    <div class="home__content">
      <h1 class="home__title">Bienvenido a Mi Aplicación</h1>
      <p class="home__p">Descubre las mejores barras de sonido del mercado</p>
      <a href="{{ path('app_home') }}" class="btn btn--primary">Ver Productos</a>
    </div>
  </section>
{% endblock %}
