{% extends 'base.html.twig' %}

{% block title %}
  Lista de productos
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/product/product.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/product/product.js') }}" defer></script>
{% endblock %}

{% block body %}
  <table class="container_product products-table">
    <tr class="products-table__header">
      <th>Producto</th>
      <th>Nuestra Puntuación</th>
      <th>Características Clave</th>
      <th></th>
    </tr>
    <tr class="product-table__body">
      {% for product in products %}
        {% include 'product/components/_product_card.html.twig' %}
      {% else %}
        <td>No hay productos.</td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
