<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Produczon - {% block title %} {% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {{ include('components/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('components/footer.html.twig') }}
    </body>
</html>
